{% extends "base.html" %}

{% block page_content %}

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<body>
  <center>
    <h1>{{ title }}</h1>
  </center>
  <center>
    <canvas id="chart" width="600" height="400" style="margin-bottom:20px;"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	],
        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in values %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }
     // get bar chart canvas
     var mychart = document.getElementById("chart").getContext("2d");
       steps = 10
       max = {{max}}
     // draw bar chart
     new Chart(mychart).Radar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
     });
    </script>
    <div>
        <form action="/download_raw">
            <button class="btn btn-primary" type="submit" style="margin-bottom:20px;">Download Raw Data</button>
        </form>
        <form action="/download_chart">
            <button class="btn btn-primary" type="submit">Download Chart Data</button>
        </form>
    </div>
  </center>
</body>
</html>
{%- endblock %}